.layout {
  display: grid;
  grid-template-rows:
    1fr
    min-content;
  gap: 1rem;

  max-width: 1280px;
  min-height: calc(100vh - 65px);
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .layout {
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (min-width: 980px) {
  .layout {
    grid-template-columns: 1fr 4fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* .main {} */

/* @media (min-width: 768px) {
  .main {}
} */

@media (min-width: 980px) {
  .main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
  }
}

/* .sidebar {} */

/* .footer {} */

@media (min-width: 980px) {
  .footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
}
