[theme="light"] {
  --color-background: #fff;
  --color-text: #222;
}

[theme="dark"] {
  --color-background: #222;
  --color-text: #fff;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
