[theme="light"] {
  --color-background: #fff;
  --color-background-code: #efefef;
  --color-text: #222;
}

[theme="dark"] {
  --color-background: #222;
  --color-background-code: #000;
  --color-text: #fff;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: var(--color-background);
  color: var(--color-text);

  line-height: 1.5;
}

a {
  color: #61afef;
}

ul,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 1rem;
  line-height: 1.25;
}

code {
  padding: 2px 4px;

  border-radius: 0.15em;
  background-color: var(--color-background-code);

  font-family: monospace;
  font-size: 0.8rem;
}

code[class*="language-"] {
  padding: 0;
  font-family: monospace;
  font-size: 0.8rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
