.post-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: 768px) {
  .post-list {
    columns: 2;
  }
}

.post-list__item {
  break-inside: avoid;
}

.post-list__item + .post-list__item {
  margin-top: 1rem;
}

.post-list__title {
  margin: 0;
}

.post-list__item a {
  color: currentColor;
}

.post-list__item a:not(:hover) {
  text-decoration: none;
}

.post-list__description {
  margin: 0;
}

.post {
  max-width: 960px;
}

.post h1 {
  margin-top: 0;
}

.post p {
  max-width: 720px;
}
