.tags {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.tag {
  display: flex;
  align-items: center;
  /* gap: 8px; */
}

.tag a {
  margin-left: 8px;

  color: currentColor;
}

.tag a:not(:hover) {
  text-decoration: none;
}
