<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{ title }}{% if page.url != '/' %} | {{ site.name }} {% endif %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ '/img/favicon.svg' | url }}" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    
    {# Include CSS #}
    {% set css %}
      {% include 'css/common.css' %}
      {% include 'css/layout.css' %}
      {% include 'css/header.css' %}
      {% include 'css/sidebar.css' %}
      {% include 'css/footer.css' %}
      {% include 'css/post.css' %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

  </head>
  <body>
    {% include 'partials/icons.njk' %}
    {% include 'partials/header.njk' %}
    <div class="layout">
      {% include 'partials/content.njk' %}
      {% include 'partials/sidebar.njk' %}
      {% include 'partials/footer.njk' %}
    </div>
    <script src="{{ '/js/scripts.js' | url }}"></script>
  </body>
</html>
