<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{{ title }}{% if page.url != '/' %} | {{ site.name }} {% endif %}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <div class="layout">
      {% include 'partials/header.njk' %}
      {% include 'partials/content.njk' %}
      {% include 'partials/footer.njk' %}
    </div>
    <script src="{{ '/js/scripts.js' | url }}"></script>
  </body>
</html>
