.header__row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.header__title {
  margin: 0;

  font-size: var(--font-size-large);
}


@media(min-width: 768px) {
  .header__title {
    font-size: var(--font-size-huge);
  }
}

@media(min-width: 980px) {
  .header__title {
    font-size: var(--font-size-massive);
  }
}

.header__title a {
  color: currentColor;

  text-decoration: none;
}

.header__description {
  margin: 0;
}
