.layout {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media(min-width: 768px) {
  .layout {}
}

@media(min-width: 1280px) {
  .layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 1rem;
  }
}

.header {}

@media(min-width: 1280px) {
  .header {}
}

.main {}

@media(min-width: 1280px) {
  .main {}
}

.footer {}

@media(min-width: 1280px) {
  .footer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
}