.layout {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

@media(min-width: 768px) {
  .layout {
    padding: 2rem;
  }
}

@media(min-width: 980px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 3rem;
    padding: 3rem;
  }
}

/* .header {} */

/* @media(min-width: 980px) {
  .header {}
} */

.main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media(min-width: 768px) {
  .main {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media(min-width: 980px) {
  .main {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* .footer {s} */

@media(min-width: 980px) {
  .footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
  }
}