.post-preview + .post-preview {
  margin-top: 3rem;
}

.post-preview__title {
  margin: 0;
}

.post-preview__title a {
  color: currentColor;
}

.post-preview__title a:not(:hover) {
  text-decoration: none;
}

.post-preview__description {
  margin-bottom: 0;
}

.post {
  max-width: 960px;
}

.post p {
  max-width: 720px;
}
