[theme="light"] {
  --color-background: #fff;
  --color-text: #24292e;
}

[theme="dark"] {
  --color-background: #24292e;
  --color-text: #adbac7;
}

[theme="sepia"] {
  --color-background: #f1e7d0;
  --color-text: #433422;
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  border: 0;
  /* border-radius: 4px; */
  background-color: transparent;
  color: var(--color-background);
  cursor: pointer;
}
