---
layout: layouts/base.njk
title: Home
---
<article>
  <h1>Table of content</h1>
  <ul>
    {%- for post in collections.all -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>
</article>