---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
layout: layouts/base.njk
---

<h1 class="visually-hidden">Tag: {{ tag }}</h1>
{% set posts = collections[ tag ] %}
{% include "partials/list-of-posts.njk" %}
