<footer class="footer">
  <p>
    Built with <a href="https://www.11ty.dev/" target="_blancK" rel="noreferrer">Eleventy</a>.
    Hosted on <a href="https://github.com/sergiivelykodnyi/wiki" target="_blancK" rel="noreferrer">GitHub</a>.
  </p>
  <p>Created by <a href="https://github.com/sergiivelykodnyi" target="_blancK" rel="noreferrer">{{ site.author}}</a>.</p>
</footer>
